# Prerequisites
*.d

# Compiled Paths
intermediate/
output/
out/
build/
.vs/
.vscode/
.idea/
cmake-build-debug/
proj-cppcheck-build-dir/

#specific files
test_detail.xml
#generated
elephant_cli_config.h
elephant_gambit_config.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
